aclocal.m4
autom4te.cache
configure
m4/libtool.m4
m4/lt*.m4
Makefile.in
src/config.h.in
*~
=build*
build*
++*
Makefile
.version
config.log
config.status
libtool
*.o
config.h
stamp-h1
.deps
.libs

##binaries and shite
truffle
